body {
    margin: 0px;
    background: #343434;
    color: #FAFAFA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:local {
    .container {
        width: 1024px;
        margin: auto auto;
        background: #464646;
        padding: 32px;
        box-sizing: border-box;

        h1 {
            margin: 0px;
        }

        textarea {
            width: 100%;
            min-height: 120px;
            background: #565656;
            border: 2px solid rgba(0, 0, 0, 0.5);
            padding: 8px;
            color: #FAFAFA;
        }

        footer {
            text-align: center;
            color: #CACACA;
            margin-top: 32px;
            font-size: 0.8em;
        }
    }
}